@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
    display: block;
}

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #000;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}

p {
    line-height: 25px;
    color: #9ca3af;
    margin-bottom: 25px;
}

p span{
    color: #00b4d8;
    font-weight: 500;
}

h4{
    color: #fff;
}


::selection {
    background: #00b4d8;
    color: #fff;
}

::-moz-selection {
    background: #00b4d8;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #000;
}
  
::-webkit-scrollbar-thumb {
    background: #00b4d8;
    border-radius: 8px;
}

@media (max-width: 991px) {

    html,
    body {
        overflow-x: hidden;
    }
}



a.main-button {
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #00b4d8;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 30px 0;
}

a.main-button:hover {
    background-color: #03045e;
}

a.second-button {
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    border: 1px solid #00b4d8;
    background-color: transparent;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 30px 0;
}

a.second-button:hover {
    background-color: #00b4d8;
}



.center-heading {
    margin-bottom: 70px;
}

.center-heading h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}

.center-heading p {
    color: #9ca3af;
    text-align: center;
}

.left-heading{
    margin-bottom: 70px;
    margin-top: 70px;
}

.left-heading h2 {
    margin-top: 0px;
    text-align: left;
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}

.left-heading p {
    color: #9ca3af;
    text-align: left;
}

/* header section */
.background-header {
    height: 80px !important;
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: url('./assets/images/19837015_6190756.svg');
}

.background-header .logo,
.background-header .main-nav .nav li a {
    color: #fff !important;
}

.background-header .main-nav .nav li:hover a {
    color: #00b4d8 !important;
}

.background-header .nav li a.active {
    color: #00b4d8 !important;
}

.header-area {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.header-area .main-nav {
    min-height: 80px;
    background: transparent;
}

.header-area .main-nav .logo {
    line-height: 80px;
    color: #00b4d8;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
    float: left;
    margin-top: 27px;
    margin-left: 15%;
    margin-right: 0px;
    /* background-color: #000; */
    padding: 0px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}

.header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
    padding-right: 0px;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a {
    color: #00b4d8;
}

.header-area .main-nav .nav li.submenu {
    position: relative;
    padding-right: 35px;
}

.header-area .main-nav .nav li.submenu:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 18px;
    top: 12px;
}

.header-area .main-nav .nav li.submenu ul {
    position: absolute;
    width: 200px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    top: 40px;
    opacity: 0;
    transform: translateY(-2em);
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
    display: block;
    background: #000;
    color: #fff !important;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    font-size: 13px;
    border-bottom: 1px solid #f5f5f5;
}

.header-area .main-nav .nav li.submenu ul li a:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 40px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #00b4d8;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
    color: #00b4d8 !important;
    padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #000;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #fff;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #000;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #000;
}

.background-header .main-nav .menu-trigger.active span:before {
    background-color: #000;
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #000;
}

.background-header .main-nav .menu-trigger.active span:after {
    background-color: #000;
}

.header-area.header-sticky {
    min-height: 80px;
}

.header-area.header-sticky .nav {
    margin-top: 20px !important;
}

.header-area.header-sticky .nav li a.active {
    color: #00b4d8;
}

@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-left: 12px;
        padding-right: 12px;
    }

    .header-area .main-nav:before {
        display: none;
    }
}

@media (max-width: 991px) {
    .logo {
        text-align: center;
        float: none !important;
    }

    .header-area {
        background-color: #000;
        padding: 0px 15px;
        height: 80px;
        box-shadow: none;
        text-align: center;
    }

    .header-area .container {
        padding: 0px;
    }

    .header-area .logo {
        margin-left: 30px;
    }

    .header-area .menu-trigger {
        display: block !important;
    }

    .header-area .main-nav {
        overflow: hidden;
    }

    .header-area .main-nav .nav {
        float: none;
        width: 100%;
        margin-top: 0px !important;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0px;
    }

    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
    }

    .header-area .main-nav .nav li {
        width: 100%;
        background: #000;
        border-bottom: 1px solid #eee;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .header-area .main-nav .nav li a {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        border: none !important;
        background: #000 !important;
        color: #00b4d8 !important;
    }

    .header-area .main-nav .nav li a:hover {
        background: #eee !important;
        color: #00b4d8 !important;
    }

    .header-area .main-nav .nav li.submenu ul {
        position: relative;
        visibility: inherit;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
        top: 0px;
        width: 100%;
        box-shadow: none;
        height: 0px;
    }

    .header-area .main-nav .nav li.submenu ul li a {
        font-size: 12px;
        font-weight: 400;
    }

    .header-area .main-nav .nav li.submenu ul li a:hover:before {
        width: 0px;
    }

    .header-area .main-nav .nav li.submenu ul.active {
        height: auto !important;
    }

    .header-area .main-nav .nav li.submenu:after {
        color: #3B566E;
        right: 25px;
        font-size: 14px;
        top: 15px;
    }

    .header-area .main-nav .nav li.submenu:hover ul,
    .header-area .main-nav .nav li.submenu:focus ul {
        height: 0px;
    }

    .skills{
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    .header-area .main-nav .nav {
        display: flex !important;
    }
}

/* welcome section */
.welcome-area {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 432px;
    background-image: url(../assets/images/19837015_6190756.svg);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.welcome-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(2 2 2 / 72%);
}

.welcome-area .header-text .left-text {
    position: relative;
    align-self: center;
    margin-top: 35%;
    transform: perspective(1px) translateY(-30%) !important;
}

.welcome-area .header-text h1 {
    font-weight: 700;
    font-size: 100px;
    line-height: 110px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
}

.welcome-area .header-text h2 {
    font-weight: 600;
    font-size: 70px;
    color: #fff;
}

.welcome-area .header-text h3{
    color: #9ca3af;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}


.welcome-area .header-text p {
    font-size: 24px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
    position: relative;
    margin-top: 24px;
    text-align: center;
    font-weight: 500;
}


@media (max-width: 810px) {
    .welcome-area {
        background: none;
        background-size: contain;
        padding: 20px;
    }

    .welcome-area .header-text {
        padding-top: 30%;
        margin-left: 0;
    }

    .container-fluid .col-md-12 {
        margin-right: 0px;
        padding-right: 0px;
    }
}


/* expertise section */
#expertise{
    margin-top: 100px;
}

.expertise{
    border: 2px solid #9ca3af;
    border-radius: 10px;
    padding: 40px 30px;
}

.expetises{
    position: relative;
    z-index: 1;
}

.img-code{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-code img{
    opacity: 0.3;
    position: relative;
    bottom: 42px;
    z-index: 0;
}

.expertise-item .expertise-icon{
    display: flex;
    gap: 20px;
    align-items: center;
}

.expertise-item .expertise-icon h4{
    position: relative;
    z-index: 1;
    display: inline-block;
}

.expertise-item .expertise-icon h4::before {
    content: "";
    height: 16%;
    background-color: #00b4d8;
    position: absolute;
    bottom: 31px;
    left: 0;
    z-index: -1;
    width: 100px; 
    max-width: calc(100% - 1ch);
}

.expertise-item .expertise-text{
    margin-top: 30px;
}


/* projetos section */
#projetos {
    margin-top: 80px;
}

#projetos .img-checkout img{
    width: 100%;
}

.img-checkout .infos-checkout{
    position: relative;
    bottom: 28%;
}

.img-checkout .infos-checkout h3{
    color: #FFF;
    font-weight: 500;
    margin-bottom: 15px;
}

.img-checkout .infos-checkout p{
    color: #FFF;
}

.project-item {
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

.project-icon{
    width: 100%;
    min-height: 80px;
    position: relative;
    text-align: center;
    display: block;
    border-radius: 5px;
    overflow: hidden;
}

.project-text{
    padding: 20px;
    background-color: rgb(255 255 255 / 5%);
}

.project-icon img {
    max-width: 540px;
    width: 100%;
    height: 100%;
    max-height: 405px;
}

.project-icon img:hover{
    transform: scale(1.1);
    transition: all cubic-bezier(.4,0,.2,1) .4s;
}

.project-item h4 {
    margin-top: 15px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
    text-align: left;
}

@media (max-width: 992px) {
    .project-item {
        margin-bottom: 45px;
    }
}


/* sobre section - skills */
#sobre {
    padding: 100px 0px;
    position: relative;
    z-index: 9;
}

.skills{
    width: 65%;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 100px 0px rgb(229 229 229 / 11%);;
}

.skills h3{
    font-size: 16px;
    margin-bottom: 10px;
    color: #00b4d8;
    color: #00b4d8;
}

/* footer - contato +  depoimentos */
.contato {
    padding: 40px;
    background-color: rgb(255 255 255 / 5%);
}

.contato h3{
    color: #fff;
}

.contato .contato-itens{
    margin-top: 27%;
}

.contato .contato-item{
    margin-bottom: 15px;
}

.contato .contato-item .mail{
    font-size: 20px !important;
}

.contato .contato-item a{
    color: #FFF;
    font-weight: 500;
}

.contato .contato-item a:hover{
    color: #00b4d8;
}

#depoimentos .depoimentos-1{
    background-color: #00b4d8;
    padding: 40px 30px;
}

#depoimentos .depoimentos-2{
    background-color: #90e0ef;
    padding: 40px 30px;
}

#depoimentos .depoimentos-3{
    background-color: #0077b6;
    padding: 40px 30px;
}
#depoimentos img{
    margin-bottom: 20px;
}

#depoimentos .depoimentos-text,span{
    color: #fff;
}

#depoimentos span{
    font-weight: 500;
}



/* modals */
.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 86%);
}

.modal-content {
    background-color: #000;
    margin: 7% auto;
    padding: 40px;
    width: 90%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-content-inner{
    display: flex;
    gap: 20px;
}

.modal-content-inner .tag{
    display: flex;
    gap: 10px;
}

.modal-content-inner .tag p{
    border: 1px solid #9ca3af;
    padding: 5px 10px;
    border-radius: 13px;
    font-size: 12px;
}

.modal h2{
    margin: 15px 0;
    color: #fff;
}

@media (max-width: 991px) {
    .modal-content{
        margin: 30% auto;
    }

    .modal-content-inner{
        display: block;
    }

    .modal-content-inner img{
        width: 100%;
        height: auto;
    }

    .modal-content-inner video{
        width: 100%;
        height: auto;
    }
}


/* page - project */
.project{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 20px;
}

.project .header-text h2 {
    font-weight: 600;
    font-size: 70px;
    color: #fff;
    margin-bottom: 30px;
}

.project .header-text h2 span {
    font-weight: 400;
    font-size: 30px;
    color: #9ca3af;
}

.project .header-text h3{
    color: #9ca3af;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    line-height: 35px;
}

.project .header-text h3 span{
    color: #00b4d8;
    font-weight: 600;
}


.project .header-text p {
    font-size: 24px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
    position: relative;
    margin-top: 24px;
    text-align: center;
    font-weight: 500;
}


.project-page img, video{
    width: 100%;
    margin-top: 32px;
}

.tecnologias-project .tag{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.tecnologias-project .tag p{
    border: 1px solid #9ca3af;
    padding: 5px 10px;
    border-radius: 13px;
    font-size: 12px;
}

.tecnologias-project .buttons{
    display: flex;
    justify-content: end;
    gap: 10px;
}

footer{
    margin-top: 50px;
    margin-bottom: 10px;
}

#experiencia {
    color: #fff;
    margin-top: 115px;
}

#experiencia h3{
    font-size: 16px;
}

#experiencia .grid-layout h2 span {
    color: #fff;
}
#experiencia .grid-layout .experiencia {
    margin-top: 30px;
    display: flex;
    gap: 40px;
}
#experiencia .grid-layout .experiencia .option-experiencia {
    display: flex;
    width: 25%;
    flex-direction: column;
}

#experiencia .grid-layout .experiencia .option-experiencia .activeExperiencia {
    border-left: 4px solid #000;
    color: #000;
}

#experiencia .grid-layout .experiencia .option-experiencia .activeExperiencia h3 {
    color: #00b4d8;
    font-weight: 600;
    font-size: 20px;
}

#experiencia .grid-layout .experiencia .option-experiencia > div {
    padding: 32px;
    text-align: left;
    background-color: rgb(255 255 255 / 5%);
    border-left: 4px solid #00b4d8;
}

#experiencia .grid-layout .experiencia .option-experiencia > div:hover {
    cursor: pointer;
}

#experiencia .grid-layout .experiencia .text-experiencia {
    width: 75%;
}

#experiencia .grid-layout .experiencia .text-experiencia > div {
    display: flex;
    justify-content: space-between;
}

#experiencia .grid-layout .experiencia .text-experiencia > div h4 {
    font-size: 24px;
    font-weight: 400;
}

#experiencia .grid-layout .experiencia .text-experiencia > div p {
    font-size: 16px;
    color: #9ca3af;
}

#experiencia .grid-layout .experiencia .text-experiencia h5 {
    font-size: 2rem;
    margin: 30px 0;
    font-weight: 500;
    color: #fff;
}

#experiencia .grid-layout .experiencia .text-experiencia p {
    font-size: 18px;
    line-height: 160%;
    color: #9ca3af;
    font-weight: 400;
}
